.container{
    background-color: red;
    left:30%;
    top:20%;
    position:absolute;
    width: 450px;
    height: 400px;
    padding: 10px;
    border-radius: 15px;
}
.answer{
    background-color: rgb(160, 160, 160);
    width: auto;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
}
.btn-container{
    display:grid;
    grid-template: "AC plus minus" 
                    "mul div 1" 
                    "2 3 4";
    
}
.button{height:30px;
    border-radius: 20px;
    border-color: white;
    margin: 5px;
}
